@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html,



body {
    height: 100%;
}
body {
    background: #f1f6f9;
}
nav {
    margin-top: 0px;
    margin-bottom: 35px;
}
.nav{background: #14274e;}




.form-page {
    background: #bbbfca;
    width: 430px;
}
.home-page {
    width: 90%;
    /*padding: 100px;    */
}
.image-error {
    width: 70%;
    padding: 40px 0px 40px 0px;    
    /*height: */
}
.card-panel {
    margin: auto;
    /*padding: 100px;    */
}
.header{
    font-family: 'Montserrat', sans-serif;
    display: table-cell;
    vertical-align: middle;
}
.button {
    font: roboto;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 85%;
    border-radius: 5px;
    background: #394867;

}
.button:hover {
    background: #14274e;
}

.btn, .accent-light{
    background: #394867;
}
.btn:hover, .accent{
    background: #14274e;

}





.about-cards{
    width: 27%;
    height: 450px;
    margin: 3.16%;
    padding: 40px; 
    align-items: center;
    background: #bbbfca;
}
.card.horizontal {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.reminder{
    width: 100%;
    border-style: none;
}
.collapsible-body{
    padding: 15px;
    border-style: none;
}
.collapsible{
    border-style: none;
}
.modal-profile {
border-style: none;
  margin-left: 180px;
  border-top-left-radius: 100px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 200px;
}
.schedule{
    border-radius: 20px;
}
.backdrop{
   background-color: #272525;
   opacity: 20%;
 
} 

.header-odd{
    background: #0278ae;
}

.header-even{
    background: #43658b;
}
.body-odd{
    background: #51adcf;
}

.body-even{
    background: #4e89ae;
}

h1,h2,h3,h4,h5, .tab
{
    color: #14274e;
}

.carousel-item{
    background: #43658b;
}
#appoiment-form{
    width: 40%;
    height: 45%;
}
#doctor-form{
    width: 45%;
    height: 40%;
}
#patient-form{
    width: 45%;
    height: 45%;
}
.btn-floating-container {
    position: relative;
    height: 70px;
    z-index: 99;
}
.patient-card{
    margin-bottom: 0px;
    margin-top: 0px;
    width: 80%; 
}