{# BEGIN REMINDER #}
<li>
    {% if not i%2 %}
        <div class="collapsible-header header-odd" style="border-color: transparent;padding-top: 1px;">
    {% else %}
        <div class="collapsible-header header-even" style="border-color: transparent;padding-top: 1px;">
    {% endif %}
        <div class="col s2" style="padding-top:20px;">
            <i class="material-icons large"> event </i> 
        </div>
        <div class="col s10">
            <h5 class="truncate white-text">({{ date }})   {{   description }}</h5>
        </div>
    </div>
    {% if not i%2 %}
        <div class="collapsible-body body-odd white-text">
    {% else %}
        <div class="collapsible-body body-even   white-text">
    {% endif %}
        <div class="divider"></div>
        <p class="flow-text" style="font-size: 22px;"> {{ description }} </p>
            <div class="footer-copyright" style="padding-bottom: 35px;opacity: 1;">
                <div class="col s6"><strong>Dotor:</strong> {{ doctor }} </div>
                <div class="col s6"><strong>Patient:</strong> {{ patient }}</div>            
                <div class="col s11"><strong>Date:</strong> {{ date }}</div>
                <div class="col s1">
                    <div class="row">                    
                        {% if flag_2 %}
                        <a onclick="deleteAppoiment('{{ _id }}' )" class="btn-floating btn red"><i class="material-icons">delete</i></a>
                        {% endif %}
                        {% if flag %}
                            <a onclick="finishAppoiment('{{ _id }}' )" class="btn-floating btn green"><i class="material-icons">check</i></a>
                        {% endif %}
                    </div>
                </div>
            </div>

    </div>
  </li>

{# END REMINDER #}
