<div class="modal" id="appoiment-form" style="height: 100%;">
    <div class="modal-content" style="height: 100%;">
        <div class="row">
          <div class="col s10" align="center"><h3>Appoiment</h3></div>
          <div class="col s2"><i class="modal-close material-icons medium right">close</i></div>
        </div>
<form class="login-form" method="POST" action="{{ url_for('add_appoiment') }}">
    
<!-- Paciente -->
<div class="input-field col s12">
    <i class="material-icons prefix">person</i>
    <select name="patient">
    <option value="" disabled selected>Patient</option>
    {% if patients != None %}
            {% for patient in patients %}
                <option value="{{patient.title}}">{{patient.title}}</option>
            {% endfor %}
    {% endif %}
    </select>
    <label for="patient" data-error="wrong" data-success="succes">Paciente</label>
</div>
<!-- Description -->
<div class="input-field col s12">
    <i class="material-icons prefix">description</i>
    <textarea name="description" class="materialize-textarea"></textarea>
    <label for="description" data-error="wrong" data-success="succes">Content</label>
</div>

<!-- Doctor -->
<div class="row">
  <div class="input-field col s7  m3 offset-m1 4 offset-4">
    <i class="material-icons">person_outline</i>
    Doctor
    <select name="doctor" id="doctor">
    <option value="Nobody" disabled selected>Por asignar</option>
    {% if doctors != None %}
            {% for doctor in doctors %}
                <option value="{{doctor.title}}">{{doctor.title}}</option>
            {% endfor %}
    {% endif %}
    </select>
  </div>

<!-- Date -->
  <div class="input-field col s5  m3 offset-m1 4 offset-4">
    <i class="material-icons">today</i>
    Date
    <div class="card-reveal">
    <input name="due-date-note" class="datepicker" style="wnameth: 100%">
    </div>
  </div>
</div>

<div class="modal-footer">
    <button class="waves-effect waves-red btn-flat red white-text">DONE</button>
</div>
<!-- <input type="hidden" name="doctor" id="doctor-out"> -->
 <!-- <input type="hidden" name="patient" id="patient-out">  -->
</form>
</div>
</div>
<!-- <script type="text/javascript">  
    $('#doctor').change(function(){
    // alert($(this).val());
    $('#doctor-out').val($(this).val())
    
})
</script> -->