<section class="black">
  <div class="carousel carousel-slider" data-indicators="true">
    <div class="carousel-fixed-item">
      <div class="container">
        <h1 class="white-text">BeeHealthy</h1>
        <a style="font-size: 22px" href="{{url_for('contact')}}"> Contact us</a>
      </div>
    </div>
    <div class="carousel-item white-text" href="#one!">
      <div class="container">
        <h2 style="font-size: 30px;color: white" >Admin panel</h2>
        <p class="flow-text" style="font-size: 25px;">Manage your hospital</p>
      </div>  
    </div>
    <div class="carousel-item white-text" href="#two!">
      <div class="container">
        <h2 style="font-size: 30px;color: white" >Patient</h2>
        <p class="flow-text" style="font-size: 25px;">Check your appoiments from home</p>
      </div> 
    </div>
    <div class="carousel-item white-text" href="#three!">
      <div class="container">
        <h2 style="font-size: 30px;color: white" >Doctors</h2>
        <p class="flow-text" style="font-size: 25px;">Remember your weekly appoiments</h2>
      </div> 
    </div>
    <div class="carousel-item white-text" href="#four!">
      <div class="container">
        <h2 style="font-size: 30px;color: white" >Contact us</h2>
        <p class="flow-text" style="font-size: 25px;">If you do not have an accoun yet, contact us!</p>
      </div> 
    </div>
  </div>
</section>