    {% extends "base-materialize.html"%}
    {% block content %}
    {% include "nav.html" %}
        
<div class="row home-page">
<!--         
        # ---------------------------------------------
        #           Contacts
        # ---------------------------------------------
 -->
        <div class="row center"><h1>Doctor panel</h1></div>
        <div class="col s6">
            <div class="row s12" align="center">
              <h2>This week</h2>
            </div>
            <div class="row s12">
                {% if this_week != None %}
                <ul class="collapsible popout reminder transparent">
                    {% for i, _id, date, description, doctor, patient, phone in this_week %}
                        {% with i=i, _id=_id, date=date, description=description, doctor=doctor, patient=patient, phone=phone, flag=False, flag_2=False %}
                            {% include 'appoiments.html'%}
                        {% endwith%}
                    {% endfor%}
                </ul>
                {% else %}
                    <div class="row" align="center">
                    <h3> No appoiments yet</h3>
                    <i class="material-icons large">layers_clear</i>
                    </div>
                {% endif %}

            </div>
        </div>
<!--         
        # ---------------------------------------------
        #           Contacts
        # ---------------------------------------------
 -->


        <div class="col s6">
            <div class="row s12" align="center">
              <h2>Next appoiments</h2>
            </div>
            <div class="row s12">
                {% if later != None %}
                <ul class="collapsible popout reminder transparent">
                    {% for i, _id, date, description, doctor, patient, phone in later %}
                        {% with i=i, _id=_id, date=date, description=description, doctor=doctor, patient=patient, phone=phone, flag=False, flag_2=False %}
                            {% include 'appoiments.html'%}
                        {% endwith%}
                    {% endfor%}
                </ul>
                {% else %}
                    <div class="row" align="center">
                    <h3> No appoiments yet</h3>
                    <i class="material-icons large">layers_clear</i>
                    </div>
                {% endif %}

            </div>
        </div>

    </div>

      
    {% include "modals-init.html" %}

    {% endblock %}  