    {% extends "base-materialize.html"%}
    {% block content %}
    {% include "nav.html" %}
    <div class="row home-page">
<!--         
        # ---------------------------------------------
        #           Contacts
        # ---------------------------------------------
 -->

        <div class="col s5">
            <div class="row s12" align="center">
              <h2 class="white-text">Reminders</h2>
            </div>
            <div class="row s12">
                {% if contacts != None %}
                <ul class="collapsible popout reminder transparent">
                    {% for contact, color in contacts %}
                        {% with title_header=contact.question[:15]+ ' ...', color_header=color, color_body=color, contact=contact %}
                            {% include 'contacts.html'%}
                        {% endwith%}
                    {% endfor%}
                </ul>
                {% else %}
                    <div class="row" align="center">
                    <h2> No contact requests yet</h2>
                    <i class="material-icons large">layers_clear</i>
                    </div>
                {% endif %}

            </div>
        </div>
<!--         
        # ---------------------------------------------
        #           Contacts
        # ---------------------------------------------
 -->

        <div class="col s7">
        </div>

    </div>
    <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red">
          <i class="large material-icons">add</i>
        </a>
        <ul>
          <li><a class="btn-floating blue tooltipped" href="#note-form" data-position="top" data-tooltip="Cita" ><i class="material-icons">event</i></a></li>
          <li><a class="btn-floating amber darken-3 tooltipped" href="#activity-form" data-position="top" data-tooltip="Doctor"><i class="material-icons">face</i></a></li>
        </ul>
      </div>

    {% if activities != None%}
    {% for activity in activities %}
        {% with modal_id='modal-activity-{}'.format(activity.activity_id), modal_title=activity.title%}
            {% include "pop-up.html" %}
        {% endwith %}
        
    {% endfor %}
    {% endif %}
    {% include "activity-form.html" %}
    {% include "note-form.html" %}
    {% include "modals-init.html" %}
    {% endblock %}  