    {% extends "base-materialize.html"%}
    {% block content %}
    {% include "nav.html" %}
        
<div class="row s12 home-page">
<!--         
        # ---------------------------------------------
        #           Contacts
        # ---------------------------------------------
 -->
        <div class="row center"><h1>Admin panel</h1></div>
        <div class="col s5">
            <div class="row s12" align="center">
              <h2>Contacts</h2>
            </div>
            <div class="row s12">
                {% if contacts != None %}
                <ul class="collapsible popout reminder transparent">
                    {% for i, contact, color in contacts %}
                        {% with i=i, color_header=color, color_body=color, contact=contact %}
                            {% include 'contacts.html'%}
                        {% endwith%}
                    {% endfor%}
                </ul>
                {% else %}
                    <div class="row" align="center">
                    <h3> No contact requests yet</h3>
                    <i class="material-icons large">layers_clear</i>
                    </div>
                {% endif %}

            </div>
        </div>
<!--         
        # ---------------------------------------------
        #           Contacts
        # ---------------------------------------------
 -->


        <div class="col s7">
            <div class="row s12" align="center">
              <h2>Appoiments</h2>
            </div>
            <div class="row s12">
                {% if appoiments != None %}
                <ul class="collapsible popout reminder transparent">
                    {% for i, _id, date, description, doctor, patient, phone in appoiments %}
                        {% with i=i, _id=_id, date=date, description=description, doctor=doctor, patient=patient, phone=phone, flag=True %}
                            {% include 'appoiments.html'%}
                        {% endwith%}
                    {% endfor%}
                </ul>
                {% else %}
                    <div class="row" align="center">
                    <h3> No appoiments yet</h3>
                    <i class="material-icons large">layers_clear</i>
                    </div>
                {% endif %}

            </div>
        </div>

        <div class="divider"></div>
    </div>

    <div class="row s12 home-page">
        <div class="col s6">
            <h2 class="center">Doctors</h2>
            {% if doctors != None %}
                {% for i, doctor in doctors %}
                    {% include "doctor-card.html" %}
                {% endfor %}
            {% else %}
                <div class="col s6" align="center">
                <h3> No doctors yet</h3>
                <i class="material-icons large">school</i>
                </div>
            {% endif %}
        </div>        

        <div class="col s6">
            <h2 class="center">Patients</h2>
            {% if doctors != None %}
                {% for i, patient in patients %}
                    {% include "patient-card.html" %}
                {% endfor %}
            {% else %}
                <div class="col s6" align="center">
                <h3> No doctors yet</h3>
                <i class="material-icons large">school</i>
                </div>
            {% endif %}
        </div>        


    </div>


        <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large btn">
              <i class="large material-icons">add</i>
            </a>
            <ul>
              <li><a class="btn-floating blue tooltipped" href="#appoiment-form" data-position="top" data-tooltip="Appoiment" ><i class="material-icons">event</i></a></li>
              <li><a class="btn-floating green tooltipped" href="#patient-form" data-position="top" data-tooltip="Patient" ><i class="material-icons">pregnant_woman</i></a></li>
              <li><a class="btn-floating amber darken-3 tooltipped" href="#doctor-form" data-position="top" data-tooltip="Doctor"><i class="material-icons">face</i></a></li>
            </ul>
      </div>
      
    {% include "doctor-form.html" %}
    {% include "appoiment-form.html" %}
    {% include "patient-form.html" %}
    {% include "modals-init.html" %}

    {% endblock %}  