  <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script> -->
  
  <script>
  var currYear = (new Date()).getFullYear();
  $(document).ready(function(){
// Initialize materialize
    $('select').formSelect();
    $('.tooltipped').tooltip();
    // $('.sidenav').sidenav();
    $('.scrollspy').scrollSpy();
    $('.modal').modal({
   
        dismissible: true, // Modal cannot be closed by clicking anywhere outside
   
      });
    $(".datepicker").datepicker({
      autoClose: true,
      defaultDate: (new Date()),
      // setDefaultDate: new Date(2000,01,31),
      maxDate: new Date(currYear+2,12,31),
      yearRange: [1928, currYear],
      format: "dd-mm-yyyy", 
      container: 'body',
    });
    $('.timepicker').timepicker({
        twelveHour: false,
        autoClose: true
    });

// Validating tel
    phone = document.getElementById('phone-patient');
    $('#phone-patient').on('input',
    function () {
      // alert('Hello');
        if (! $.isNumeric($( this ).val())) {
            phone.setCustomValidity("A number is needed");
        } else {
            phone.setCustomValidity("");
        }
      });

    phone_2 = document.getElementById('phone-doctor');
    $('#phone-doctor').on('input',
    function () {
      // alert('Hello');
        if (! $.isNumeric($( this ).val())) {
            phone_2.setCustomValidity("A number is needed");
        } else {
            phone_2.setCustomValidity("");
        }
      });

    password = document.getElementById('password-1');
    $('#password-1').on('input',
    function () {
        if ($( this ).val() != $('#password').val()) {
            password.setCustomValidity("Passwords not match");
        } else {
            password.setCustomValidity("");
        }
      });


  });
    autoplay()   
    function autoplay() {
        $('.carousel').carousel('next');
        setTimeout(autoplay, 4500);
    }
    function openModalOwn(id_modal) {
        $('#'+id_modal).modal('open');
    }


      function deleteNote(id) {
      var r = confirm('Do you want to delete this note?');
      if (r == true) {
        window.location.replace("{{url_for('remove_contact', contact_id='xxx')}}".replace('xxx',id));
        // alert(note_id);
      }
      return;
      // body...
    }
      function deleteAppoiment(id) {
      var r = confirm('Do you want to delete this appoiment?');
      if (r == true) {
        window.location.replace("{{url_for('remove_appoiment', appoiment_id='xxx')}}".replace('xxx',id));
        // alert(note_id);
      }
      return;
      // body...
    }
      function finishAppoiment(id) {
      var r = confirm('Do you want to check this appoiment??');
      if (r == true) {
        window.location.replace("{{url_for('remove_appoiment', appoiment_id='xxx')}}".replace('xxx',id));
        // alert(note_id);
      }
      return;
      // body...
    }


      function deletePatient(id) {
      var r = confirm('Do you want to delete this patient?');
      if (r == true) {
        window.location.replace("{{url_for('remove_patient', patient_id='xxx')}}".replace('xxx',id));
        // alert(note_id);
      }
      return;
      // body...
    }      
    function editPatient(id) {
      var r = confirm('Do you want to edit this patient?');
      // if (r == true) {
      //   // window.location.replace("{{url_for('remove_patient', patient_id='xxx')}}".replace('xxx',id));
      //   // alert(note_id);
      // }
      // return;
      // body...
    }

  function deleteDoctor(id) {
      var r = confirm('Do you want to delete this doctor?');
      if (r == true) {
        window.location.replace("{{url_for('remove_doctor', doctor_id='xxx')}}".replace('xxx',id));
        // alert(note_id);
      }
      return;
      // body...
    }      
    function editDoctor(id) {
      var r = confirm('Do you want to edit this doctor?');
      // if (r == true) {
      //   // window.location.replace("{{url_for('remove_patient', patient_id='xxx')}}".replace('xxx',id));
      //   // alert(note_id);
      // }
      // return;
      // body...
    }

  </script>

<!-- <script type="text/javascript">
  const phone = document.getElementById("phone-patient");

  phone.addEventListener("input", function (event) {
    if (phone.validity.typeMismatch) {
      phone.setCustomValidity("¡Se esperaba un tel!");
    } else {
      phone.setCustomValidity("");
    }
  });
</script> -->