    {% extends "base-materialize.html"%}
    {% block content %}
    {% include "nav.html" %}
        
<div class="row home-page">
<!--         
        # ---------------------------------------------
        #           Contacts
        # ---------------------------------------------
 -->
        <div class="col s6">
            <div class="row s12" align="center">
              <h2>Upcoming appointments</h2>
            </div>
            <div class="row s12">
                {% if unchecked != None %}
                <ul class="collapsible popout reminder transparent">
                    {% for i, appoiment in unchecked %}
                        {% with appoiment=appoiment, flag=False %}
                            {% include 'appoiments.html'%}
                        {% endwith%}
                    {% endfor%}
                </ul>
                {% else %}
                    <div class="row" align="center">
                    <h2> No appoiments yet</h2>
                    <i class="material-icons large">layers_clear</i>
                    </div>
                {% endif %}

            </div>
        </div>
<!--         
        # ---------------------------------------------
        #           Contacts
        # ---------------------------------------------
 -->


        <div class="col s6">
            <div class="row s12" align="center">
              <h2>Past appoiments</h2>
            </div>
            <div class="row s12">
                {% if checked != None %}
                <ul class="collapsible popout reminder transparent">
                    {% for i, appoiment in checked %}
                        {% with appoiment=appoiment, flag=False %}
                            {% include 'appoiments.html'%}
                        {% endwith%}
                    {% endfor%}
                </ul>
                {% else %}
                    <div class="row" align="center">
                    <h2> No appoiments yet</h2>
                    <i class="material-icons large">layers_clear</i>
                    </div>
                {% endif %}

            </div>
        </div>

    </div>
    {% include "modals-init.html" %}
    {% endblock %}  