{% extends "base-materialize.html" %}
{% block content %}
{% include "nav.html" %}
<div class="row form-page">
    <div class="col s12 z-depth-6 card-panel">
      <form class="login-form" method="POST">
        <div class="row">
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">search</i>
            <input class="validate" name="id" id="id" type="text">
            <label for="id" data-error="wrong" data-success="right">Patient id</label>
          </div>
        </div>
        <div class="row" align="center">
          <!-- <button type="button" class="button" value="LOGIN">         -->
          <button class="button">Search</button>
        </div>
        
        <div class="row">
          <div class="input-field col s6 m6 l6" >
            <p class="margin medium-small "><a href="{{ url_for('contact') }}">Contact us!</a></p>
          </div>
          <div class="input-field col s6 m6 l6">
              <p class="margin right-align medium-small"><a href="#">Forgot password?</a></p>
          </div>          
        </div>

      </form>
    </div>
  </div>

{% endblock %}